In [55]:
import pandas as pd 
import numpy as np
from urllib.parse import urlparse

In [56]:
df = pd.read_csv("3-21-2022.csv")

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1720 entries, 0 to 1719
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order       1720 non-null   int64
 1   id          1720 non-null   int64
 2   date        1720 non-null   object
 3   time        1720 non-null   object
 4   title       1720 non-null   object
 5   url         1720 non-null   object
 6   visitCount  1720 non-null   int64
 7   typedCount  1720 non-null   int64
 8   transition  1720 non-null   object
dtypes: int64(4), object(5)
memory usage: 121.1+ KB

In [58]:
df.head()

,order,id,date,time,title,url,visitCount,typedCount,transition
0,0,22243,3/21/2022,17:13:30,Export Chrome History - Chrome Web Store,https://chrome.google.com/webstore/detail/expo...,1,0,link
1,1,22242,3/21/2022,17:13:24,Export Chrome History - Chrome Web Store,https://chrome.google.com/webstore/detail/expo...,1,0,link
2,2,22241,3/21/2022,17:13:23,export google history - Google Search,https://www.google.com/search?q=export+google+...,2,0,link
3,3,22241,3/21/2022,17:13:22,export google history - Google Search,https://www.google.com/search?q=export+google+...,2,0,generated
4,4,22,3/21/2022,17:13:15,YouTube,https://www.youtube.com/,2217,1,auto_bookmark

In [59]:
df['time'] = pd.to_datetime(df['time'],format= '%H:%M:%S' ).dt.time

In [60]:
df['url'] = df['url'].astype('string')

In [61]:
# df.info()

In [63]:
df['url'] = df['url'].apply(lambda x:urlparse(x).netloc)

In [69]:
# df.groupby(['url']).sum()

In [71]:
df.groupby(['url','time']).sum()

                              order     id  visitCount  typedCount
url                 time
accounts.google.com 21:52:37   1430  21915           2           0
                    21:52:38   2857  43831           3           0
apps.apple.com      19:18:10   1561  21845           3           0
                    19:18:11   1560  21845           3           0
                    19:18:14   1559  21846           1           0
...                             ...    ...         ...         ...
www.youtube.com     20:50:15   1465  21886           1           0
                    22:09:03   1346     22        2217           1
www.zhihu.com       16:05:39    215  22130           1           0
zhuanlan.zhihu.com  17:45:30   1657  19045           2           0
zoutons.com         21:56:01   1405  21932           1           0

[1536 rows x 4 columns]